.tituloPrincipal {
    @apply font-bold text-white text-left px-10 text-semixl;
    line-height: 27px;
}
.tituloLista {
    @apply text-base text-left text-white leading-7 font-light cursor-pointer px-10;
}
.tituloLista:hover {
    @apply text-red-principal font-bold;
    padding-left: 35px;
    border-inline-start: solid 5px #e86060;
}

.cantidadSeguidores {
    @apply text-dark-red-secondary;
}

.tituloResultado {
    @apply text-red-principal mb-4 font-bold text-semixl;
}

.tituloArtista {
    @apply font-light text-base text-gris;
}

.tituloArtistaW {
    @apply font-light lg:text-base text-lg text-white;
}

.tituloPista {
    @apply font-bold mt-1 lg:text-base text-xl;
}
