.app {
    grid-template: auto / auto 3fr;
    min-height: 100vh;
    @apply md:block lg:grid xl:grid block;
}
.app__barraSuperior {
    grid-template-columns: 80% 20%;
    @apply lg:py-8 py-6 lg:grid block;
}
